@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<File>

@*Only show uploded files if the user is logged in*@
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Your Files
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>
                                        @obj.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <partial name="_FileInfo" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login or Register to use the Data Analytics Portal</p>
    </div>
}

